<header>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggleable-md navbar-toggler-right" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
<main class="main">
  <aside class="sidebar">
    <div class="list-group">
      <a href="#" class="list-group-item active">Filiation</a>
      <a href="#" class="list-group-item list-group-item-action">Employees</a>
    </div>
  </aside>
  <section class="content">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active">Data</li>
    </ol>
    <div class="container-fluid py-3">
      <!-- branches -->
      <div class="row">
        <div *ngFor="let branch of branches" class="col-md-6 col-lg-4 col-xl-3 mb-4">
          <branch [branch]="branch"></branch>
        </div>
      </div>
      <!-- branches -->
    </div>
  </section>
</main>


